body {
    margin: 0;
    padding: 0;
}

.recipe-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

a {
    text-decoration: none;
}

.nav {
    background-color: #3498db;
    padding: 16px;
    border-bottom: 1px solid #FF5733;
    color: white;
}

.footer {
    padding: 48px 0;
    font-size: 24px;
}

.recipe {
    border: 1px solid #ccc;
    padding: 20px;
}

.recipe a {
    color: #E64225;
}

.ingredients-table tr:nth-child(even) {
    background-color: #f2f2f2;
}
img {
    height: 200px;
}
